<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>goParty User Simulatror</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <script src="js/angular.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body ng-app = "goAppSim" ng-controller="appCtrl">
<div class="text-center">
    <div class="jumbotron">
        <h1 class="h1 text-center text-info">{{title}}</h1>
    </div>
    <div class="btn-group-lg">
        <button class="btn btn-primary " ng-show = "!active" ng-click="startSimulation()">Start simulation</button>
        <button class="btn btn-danger " ng-click="stopItem = !stopItem">Stop simulation</button>
    </div>
<br/>
    <table class="table  table-hover">
        <tr class="alert-info">
            <th >Requests</th>
            <th></th>
        </tr>
        <tr ng-repeat="request in requestTable">
            <td>{{request.rate}}</td>
            <td>{{request.timestamp}}</td>
        </tr>
    </table>

</div>
<script src="js/application/appModule.js"></script>
<script src="js/application/requestService.js"></script>
<script src="js/application/generatorService.js"></script>
</body>
</html>